table{
    /*border: 1px solid #cccccc;*/
    width:100%;
}
.container{
    width:80%;
    margin:5px auto;
    padding:5px;
}
.container select{
    padding:10px 20px;
}
table#rooms_editor tr.sub th{
    text-align: left;
}
table#rooms_editor tr td,th{
    border:1px solid #DDD;
}
tr.holiday td.day{
    background:#830305;
    color:#EEE;
    font-weight:bold;
}
table#rooms_editor tr td{
    padding:5px 10px;
}